<%= form_for @artist, html: { multipart: true } do |f| %>

<div class="form-group">
  <label>Artist's name</label>
  <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
</div>

<label>Photo</label>

<div class="form-group">
  <span class="btn btn-default">
    Upload Photo
    <%= f.text_field "image", type: :file, multiple: true %>
  </span>
</div>

<label>Upload this artist?</label>

<div class="actions">
  <%= f.submit "Save", class: "btn btn-primary" %>
</div>
<% end %>
